<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" > 
  <script rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/main.js') }}" ></script>
  <nonscript><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nonscript.css') }}"></nonscript>

    <title>Registration</title>
    <h1>FORGOT PASSWORD</h1>
    <img src="../static/images/e-sprinkler logo.png" class="logo" alt="Logo">
</head>
<body>
    <h2>ENTER YOUR EMAIL ADDRESS AND WE'LL SEND YOU A LINK TO RESET YOUR PASSWORD</h2>
    <input type="text" name="EMAIL" placeholder="EMAIL ADDRESS" required> <p></p>
    <button type="submit" >SUBMIT</button> 
</body>
</html>