{% extends "layout.html" %}
{% block title %}Add new Schedule{% endblock %}


{% block content %}
   
   
    <h3>ZONE</h3><p></p>
    <form method="POST" action="/add">
        <h2><label type="text" name="location" value="{{location[0]}}"> {{location[0]}}</label></h2> <p></p>
        <label>Date</label></br>
        <div id="select">
            <input type="date" name="date" placeholder="John"> <p></p>
            
        </div>

        <label>DAY</label><br>
        <div id="check">
        <input type="checkbox" id="mon" name="day_pick" value="0"  onchange="hideDate(this.checked)">
        <label for="mon" class="button" id="days">Mon</label>
        <input type="checkbox" id="tue" name="day_pick" value="1"  onchange="hideDate(this.checked)">
        <label for="tue" class="button" id="days">Tue</label>
        <input type="checkbox" id="wed" name="day_pick" value="2"  onchange="hideDate(this.checked)">
        <label for="wed" class="button" id="days">Wed</label> 
        <input type="checkbox" id="thu" name="day_pick" value="3"  onchange="hideDate(this.checked)">
        <label for="thu" class="button" id="days">Thu</label> 
        <input type="checkbox" id="fri" name="day_pick" value="4"  onchange="hideDate(this.checked)">
        <label for="fri" class="button" id="days">Fri</label>
        <input type="checkbox" id="sat" name="day_pick" value="5"  onchange="hideDate(this.checked)">
        <label for="sat" class="button" id="days">Sat</label> 
        <input type="checkbox" id="sun" name="day_pick" value="6"  onchange="hideDate(this.checked)">
        <label for="sun" class="button"id="days">Sun</label> <p></p>
        </div>

        <label> SET TIME</label> </br>
        <input type="time" name="time" placeholder=""> <p></p>

        <input type="submit" name="save" value="SAVE">
    </form>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock content %}